bin/Debug/netcoreapp3.1/Projetos.dll
bin/Debug/netcoreapp3.1/Projetos.pdb
bin/Debug/netcoreapp3.1/Projetos.Views.dll
bin/Debug/netcoreapp3.1/Projetos.Views.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Projetos.csproj.nuget.dgspec.json
obj/Debug/netcoreapp3.1/Projetos.assets.cache
obj/Debug/netcoreapp3.1/Projetos.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Projetos.dll
obj/Debug/netcoreapp3.1/Projetos.pdb
obj/Debug/netcoreapp3.1/Projetos.Views.dll
obj/Debug/netcoreapp3.1/Projetos.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Views/Consultas/Create.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Consultas/Delete.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Consultas/Details.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Consultas/Edit.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Consultas/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Enfermeiros/Create.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Enfermeiros/Delete.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Enfermeiros/Details.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Enfermeiros/Edit.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Enfermeiros/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Especialidades/Create.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Especialidades/Delete.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Especialidades/Details.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Especialidades/Edit.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Especialidades/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Especialidades/Medicos.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Medicos/Create.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Medicos/Delete.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Medicos/Details.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Medicos/Edit.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Medicos/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Pacientes/Consulta.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Pacientes/Create.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Pacientes/Delete.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Pacientes/Details.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Pacientes/Edit.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Pacientes/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Triagem/Create.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Triagem/Delete.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Triagem/Edit.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Triagem/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Triagem/Prioridade.cshtml.g.cs
