@model IEnumerable<Projetos.Models.Medicos>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Medicos</title>
</head>
<body>
    <h4>Medicos</h4>
<table class="table" style="margin-left:auto;margin-right:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Crm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th> 
                <font color="red">@Html.DisplayFor(modelItem => item.Crm)</font>
            </th>
            <td>
                <font color="blue">@Html.DisplayFor(modelItem => item.Nome)</font>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
