@model IEnumerable<Projetos.Models.Consultas>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table, td, th {
        border: 2px solid black;
        }

        table {
        border-collapse: collapse;
        width: 400px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        }

        th {
        height: 50px;
        }
        td {
            color:#6495ED;
        }
    </style>
</head>
<body>
<h4>Datas das consultas deste paciente</h4>
<table class="table" style="margin-left:auto;margin-right:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataConsulta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
